node_modules/
.pnpm-store/
.env
.env.local
.next/
supabase/*
!supabase/types.generated.ts
server/node_modules
server/beep.sqlite

# prevent PR failures
bun.lockb
.pnpm-store/
server/node_modules
server/beep.sqlite
